.dashboard-layout {
  
  .ant-row {
    width: 100%;
  }
  
  .ant-layout-header {
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #E4E8F7;
  }
  
  .ant-layout-sider {
    max-width: none !important;
    height: 100%;
    width: 100% !important;
    background: #F7F8FC;
  }
  
  .ant-layout-content {
    background: #FFFFFF;
    height: 100%;
  }  
}
